// Define variables for your color scheme

// For example:
$light-blue: #3BC6E4;
$primary-surf: #3579DC;
$sand: #FFD089;
$black900: #1C3346;
$black800: #59616B;
$black600: #9BA0A6;
$black400: #C0C1C9;
$black200: #F3F5F5;
$white: #FFFFFF;

