.spot_subtitle {
  color: $black900;
  font-size: 16px;
}

.spot_description{
  color: $black800;
}

.info {
  margin-left: 4%;
}

.spot-photo {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-spot-photo {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.spot-all-photo {
  width: 100%;
  height: 100%;
  transform: scale(1.5)
}

