<div class="">
  <%= link_to spot_path(spot), class: "text-decoration-none" do  %>
      <h3 class="text-center mt-3"><%= spot.location %></h3>
        <div class="row align-items-center mx-1 mb-0">
          <p><%= "Difficulté :"%> <%=spot.spot_difficulty %></p>
    <% end %>
</div>

