<p>Add map here</p>
<div class="container">
  <p>Add filters sports and date here</p>
  <h2 class="h2-black900">Evénements</h2>
  <% @events.each do |event| %>
    <%= render "card-event", event: event %>
  <% end %>
</div>

