<div style="width: 100%; height: 200px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
<div class="container">
  <p>Add filters sports and date here</p>
  <h2 class="h2-black900">Evénements</h2>
  <% @events.each do |event| %>
    <%= render "card-event", event: event %>
  <% end %>
</div>

