Add navbar here
Add map here
Add filters sports and date here
<h2>Evénements</h2>
<%# Add cards %>
<div class="">
  <% @events.each do |event| %>
  <h3><%= event.name %></h3>
  <p> <%= event.difficulty %></p>
  <p><%= event.pace %> /km</p>
  <p><%= event. %></p>
</div>

