<div style="width: 100%; height: 300px;"
  data-controller="map"
  class="map"
  data-action="click->map#toggleFullMap"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="filters-events">
  <div class="d-flex gap-2">
    <button class="btn-small select"><p>Running</p></button>
    <button class="btn-small"><p>Surf</p></button>
  </div>
  <div class="calendar">
    Add calendar here
  </div>
</div>
<div class="container">
  <h2 class="h2-black900">Evénements</h2>
  <% @events.each do |event, organized_events| %>
    <%= render "card_event", event: event, organized_events: @organized_events %>
  <% end %>
</div>

