<h2 class="text-center">Créer ton event</h2>
<div data-controller="filters">
	<div class="d-flex justify-content-center gap-3">
		<button class="btn-small run select"
						data-filters-target="runbtn"
						data-action="click->filters#formRunDisplay">
						<p>Running</p></button>
		<button class="btn-small surf"
						data-filters-target="surfbtn"
						data-action="click->filters#formSurfDisplay">
						<p>Surf</p></button>
  </div>
	<div data-filters-target="runform">
	  <%= render "event_run_form"  %>
	</div>
	<div class="d-none" data-filters-target="surfform">
  	<%= render "event_surf_form" %>
	</div>
</div>
