<div class="container text-center">
  <%= image_tag ''%>
  <h2>Trouve ton partenaire de sport autour de chez toi </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
  <input type="text" class="form-control" placeholder="Ton adresse">
  <div class="my-4">
    <label for="surf">Surf</label>
    <input type="checkbox" id="surf">

    <label for="run">Run</label>
    <input type="checkbox" id="Run">
  </div>
  <div>
    <a class="btn btn-primary">Découvrir les événements</a>
  </div>
</div>
