<div class="container text-center">
  <div class="d-flex">
  <%= image_tag 'sportnerhome.svg'%>
  </div>
  <h2>Trouve ton <div>partenaire de sport</div> autour de chez toi </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
  <div class="my-4">
    <%# <%= simple_form_for @user do |f| %> 
    <%# <%= f.button :checkbox %> 
    <%# <%= f.button :checkbox %> 
    <%# <% end %> 
    <label for="surf" class="surfLabel">Surf</label>
    <input type="checkbox" id="surf" class="surfCheckbox">

    <label for="run" class="runLabel">Run</label>
    <input type="checkbox" id="run" class="runCheckbox">
  </div>
  <input type="text" class="form-control" placeholder="Rentre ton adresse">
  <div>
    <a class="btn btn-primary">Découvrir les événements</a>
  </div>
</div>
