<div class="container">
  <div class="sand-underline">
    <h2 class="h2-black900 text-center"> Mes événements</h2>
  </div>
  <div class="d-flex justify-content-center gap-3">
    <button class="btn-small select"><p>Running</p></button>
    <button class="btn-small"><p>Surf</p></button>
  </div>

  <div>
    <p>A venir</p>
  </div>
  <% next_events = @events.where("date >= ?", Date.today) %>
  <% next_events.each do |event| %>
    <%= render "card_my_events", event: event %>
  <% end %>

  <div>
    <p>Passés</p>
  </div>
  <% past_events = @events.where("date < ?", Date.today) %>
  <% past_events.each do |event| %>
    <%= render "card_my_events", event: event %>
  <% end %>
</div>
