.bottom-bar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height:48px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.6);
  background-color: white;
  i {
    color: $black600;
    justify-content: space-between;
    font-size:20px;
  }

  .page {
    color: $black900;
  }

  .fa-plus {
    color: white;
    font-size: 38px;
    width:66px;
    height:66px;
    border: solid white 4px;
    background-color: $black900;
    border-radius: 50%;
    text-align: center;
    padding:10px;
    transform: translateY(-20px);
    box-shadow: 0 2px 4px 0 #1C3346;;
  }
}
