.btn-fullwide {
  width: 100%;
  height: 60px;
  background-color: $primary-surf;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: white;
}
.btn-75wide {
  width: 75%;
  height: 60px;
  background-color: $primary-surf;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  color: white;
}

.btn-fullwide:hover {
  background-color: white;
  border: solid 1px $primary-surf;
  color: $primary-surf;
}

.btn-bottom-50 {
  position: absolute;
  bottom: 50px;
}

.btn-bottom-0 {
  position: absolute;
  bottom: 0;
}
