.card-meteo {
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0px 8px $black600;
  background-color: $black200;
  color: $black900;
}
#meteo-title {
  margin-left: 16px;
  color: $black900;
}
.info-adresse {
  padding: 0 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.info-meteo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: solid 1px $black600;
  padding: 8px 0;
}
.info-temps {
  width: 30%;
}
.info-temperature {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid 1px $black600;
  border-left: solid 1px $black600;
}
.info-vent {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
