h2 {
  margin-top: 12px !important;
}

.sand-underline {
  text-decoration: underline $sand;
  text-decoration-thickness: 9px;
  text-underline-offset: -6px;
  text-decoration-skip-ink: none;
}

.card-event {
  overflow: hidden;
  margin: 16px auto;
  width: 100%;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  display: flex;
  position: relative;

  .small  {
    font-size:12px;
    color:$black800;
  }
}

.card-event.run {
  border-right: 3px solid $sand;

}

.card-event.surf {
  border-right: 3px solid $primary-surf;
}

.card-event .card-image {
  width: 80px;
  height:100%;
  object-fit:cover;
  object-position: center;
}

.card-event .card-avatar {
  position: absolute;
  top: 8px;
  right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  box-shadow: 0px 2px 4px $black400;
}

.card-event .card-avatar-organizer {
  border: solid;
  border-color: $black900;
  border-width: 1px;
}

.card-event .card-event-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  background: white;
  width: 100%;

  i {
    color: $black400;
    margin-right:4px;
  }
}

.card-event .card-event-infos .card-event-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-event .card-event-infos .card-event-title h3 {
  color: $black900;
}

.card-event .card-event-infos .card-event-title .tag {
  color: $black600;
  font-weight: 500 !important;
  font-size: 10px !important;
  line-height: 16px !important;
  letter-spacing: 1px;
  padding: 4px 10px;
  border: 1px solid #C0C1C9;
  border-radius: 50px;
}

.card-event .card-event-infos .card-event-middle {
  display: flex;
  align-items: center;
  gap: 12px;

  p.small {
    color: $black800;
  }

  .run-infos {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
}

.card-event .card-event-infos i {
  color: $black600;
}

.card-event .card-event-infos .card-event-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $black800;
}
.card-event .card-event-infos .card-event-adress {
  width: 81%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-event .card-event-infos .card-event-end a {
 text-decoration: none !important;
 color: $black800 !important;
}

.card-event-date {
  display:flex;
  gap:12px;
  color:$black800;
}
