.filters-events {
  padding: 8px 16px 8px 16px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.filters-my-events {
  margin: 8px 0px 8px 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 8px;
  width: 70px;
  height: 41px;
  background-color: transparent;
  color: $black900;
}

.btn-small.surf {
  border: 2px solid $primary-surf;
  border-radius: 160px;
}

.btn-small.run {
  border: 2px solid $sand;
  border-radius: 160px;
}


.btn-small.surf.select {
  background-color: $black900;
  color: white;
  border: 3px solid $primary-surf;
  border-radius: 160px;
}

.btn-small.run.select {
  background-color: $black900;
  color: white;
  border: 3px solid $sand;
  border-radius: 160px;
}
