.filters-events {
  padding: 0px 16px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
}

.index-filters-events {
  display:block;
}

.filters-my-events {
  margin: 8px 0px 8px 0px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.btn-small {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 8px 8px;
  background-color: transparent;
  color: $black900;
  border-radius: 4px;
  border:1px solid $black400;
  color:$black600;
}

.btn-small.run::before {
  content: asset-url("run-btn.svg");
  opacity:.5;
  display: block;
  width: 15px;
  height: 16px;
  margin-top: -2px;
  margin-right: 8px;
} 

.btn-small.surf::before {
  content: asset-url("surf-btn.svg");
  opacity:.5;
  display: block;
  width: 15px;
  height: 16px;
  margin-top: -12px;
  margin-right: 10px;
} 

.btn-small.surf.select {
  background-color: $primary-surf;
  color: white;
  border-color: $primary-surf;
  &::before {
    opacity: 1;
  }
}



.btn-small.run.select {
  background-color: $sand;
  color: $black900;
  border-color: $sand;
  &::before {
    opacity: 1;
  }
}

.btn-temporal {
  color: $primary-surf;
  background-color: transparent;
  font-weight: 450;
  border: none;
  border-bottom: solid;
  width: 35%;
  &.temporal-disable {
    color: $black600;
    border-bottom: solid $black400;
  }
}

.btn-place {
  color: $primary-surf;
  background-color: transparent;
  font-weight: 450;
  border: none;
  border-bottom: solid;
  width: 25%;
  &.place-disable {
    color: $black600;
    border-bottom: solid $black400;
  }
}
