.form-control {
  background-color: transparent !important;
  font-size: 14px;
}

.calendar {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.event_date {
  display:flex;
  height:35px;
}

.calendar i {
  color: $black900;
  font-size: 22px;
}

button#btn-search {
  background-color: transparent !important;
}

// Pour customiser les label des form devise
// .form-inputs {
//   label {
//   }
// }

.form-actions {
  display: flex;
  justify-content: center;
}

.back-link {
  color: $black900;
  text-decoration: none;
  font-size: 24px;
}

.form-sports {
  color: $black900;
}

.event_passengers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#event_passengers {
  width: 30%;
}

label[for=event_passengers] {
  margin: 0;
}

.event_car_pooling {
  margin: 0;
}
