.mapboxgl-popup {
  border: 0.8px;
  border: $black900;
  border-radius: 20px;
}

.map {
  transition:.5s;
}

.mapboxgl-canvas {
  width: 100vw !important;
  height: 100% !important;
  object-fit: cover;
}

.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
  display:none !important;
}

.mapboxgl-ctrl-top-right {
  right: 7% !important;
  bottom: 8px !important;
}

.image-popup {
  width: 100%;
  object-fit: cover;
}
.full-height {
  height:80vh !important;
}
.mapboxgl-popup-content {
  width: 200px;
  height: 150px;
  border-radius: 16px !important;

}
