// To style the wrapping div
.message-row {
  margin-bottom: 10px;
  padding: 4px;
}

// To style the message itself
.sender-style, .receiver-style {
  max-width: 90%;
  // border-radius: 4px;
  display: flex;
  p {
    width: 100%;
  }
}

.receiver-style .message-content {
  border-left: 3px solid $sand;
}

.sender-style .message-content {
  border-right: 3px solid $primary-surf;
}

.message {
  font-size: 14px;
  line-height: 20px;
  color: $black600;
  display: flex;
}


.message-content {
  font-size: 12px;
  color: black;
  width: fit-content;
  min-width: 90px;;
  min-height: 55px;
  background-color: white;
  border-radius: 6px;
  padding: 8px 8px 2px;
  }

  .sender-style .message-content {
    text-align: end;
  }

  .sender-style .message-time {
    display: flex;
    justify-content: flex-end;
  }

// .message-time {
//   position: relative;
//   font-size: 10px;
//   color: $black600;
//   i {
//     position: absolute;
//     bottom: 0;
//     right: 6px;
//   }
// }
