.navbar-lewagon {
  justify-content: space-between;
  background: $primary-surf;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.dropdown-menu.show {
  border-radius: 15px !important;
}

.navbar-text a {
  color: $black900;
}