.infos_profil {
  font-size: 16px;
  border-bottom: 1px solid $black600;
  padding: 8px 16px 24px 16px;
}

.sports_profil {
  font-size: 16px;
  padding: 8px 16px 24px 16px;
}


.bonus_infos {
  color: $black800;
}

.surf_and_run {
  font-size: 16px;
  background-color: lightblue;
  border: 5px solid $primary-surf;
  border-radius: 8px;
  padding: 15px;
}
