.event_type-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.event_type-item {
  flex: 0 0 30%;
}

.event_type-selector {
  position: absolute;
  transform: scale(0);
}

.event_type-selector + label {
  display: block;
  cursor: pointer;
  margin:0 24px;
  box-sizing: border-box;
  width: 120px;
  height:120px;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  background-color: white;
}

.event_type-selector:checked + label {
  color: white !important;
  background-color: $primary-surf;
}

label[for=event_type_running] {
  background-image: image-url('run.svg') !important;
}

label[for=event_type_surf] {
  background-image: image-url('surf.svg') !important;
}

#event_type_running:checked + label {
  background-image: image-url('run-white.svg') !important;
}

#event_type_surf:checked + label {
  background-image: image-url('surf-white.svg') !important;
}

.form-check-label.collection_check_boxes{
  color: transparent;
}
.form-check-label.collection_check_boxes:checked {
  color: transparent;
}

abbr {
  display: none;
}

.address-input {
  text-align: center;
  width: 90%;
  height: 40px;
}